dist: jammy
language: shell

env:
  global:
    - SALT_STATE=scap.scan
    - SALT_VERSION=3006
  matrix:
    - OS_VERSION=8 SALT_PILLARROOT=$TRAVIS_BUILD_DIR/tests/pillar/test-scc
    - OS_VERSION=8 SALT_PILLARROOT=$TRAVIS_BUILD_DIR/tests/pillar/test-oscap
    - OS_VERSION=9 SALT_PILLARROOT=$TRAVIS_BUILD_DIR/tests/pillar/test-scc
    - OS_VERSION=9 SALT_PILLARROOT=$TRAVIS_BUILD_DIR/tests/pillar/test-oscap

stages:
  - canary
  - test

if: branch = master OR type = pull_request OR tag is present

before_install:
  - sudo apt-get update
  - sudo docker build -t local/alma:${OS_VERSION} tests/docker/alma${OS_VERSION}

install:
  - sudo docker run --detach --privileged
      --volume="${TRAVIS_BUILD_DIR}":"${TRAVIS_BUILD_DIR}":ro
      --name alma-${OS_VERSION} local/alma:${OS_VERSION} init
  - sudo docker exec alma-${OS_VERSION} rpm --import https://repo.saltproject.io/salt/py3/redhat/${OS_VERSION}/x86_64/${SALT_VERSION}/SALT-PROJECT-GPG-PUBKEY-2023.pub
  - sudo docker exec alma-${OS_VERSION} curl -sSL -o /etc/yum.repos.d/salt.repo https://repo.saltproject.io/salt/py3/redhat/${OS_VERSION}/x86_64/${SALT_VERSION}.repo
  - sudo docker exec alma-${OS_VERSION} yum -y install salt-minion util-linux-ng
  - sudo docker exec alma-${OS_VERSION} salt-call --versions-report

script: |
  set -e
  sudo docker exec alma-${OS_VERSION} salt-call --local \
    --retcode-passthrough --log-file-level debug \
    --file-root=$TRAVIS_BUILD_DIR \
    --pillar-root=$SALT_PILLARROOT \
    state.show_sls \
    $SALT_STATE
  sudo docker exec alma-${OS_VERSION} salt-call --local \
    --retcode-passthrough --log-file-level debug \
    --file-root=$TRAVIS_BUILD_DIR \
    --pillar-root=$SALT_PILLARROOT \
    state.sls \
    $SALT_STATE \
    mock=True

after_failure:
  - sudo docker exec alma-${OS_VERSION} salt-call --local grains.items
  - sudo docker exec alma-${OS_VERSION} sh -c set
  - sudo docker exec alma-${OS_VERSION} more /var/log/salt/* | cat

after_script:
  - sudo docker stop alma-${OS_VERSION}

notifications:
  email:
    on_success: never
    on_failure: always
