scap:
  lookup:
    # Set the SCAP driver. Must be one of 'oscap' or 'scc'.
    driver:

    # Configuration dictionary used by the `oscap` driver.
    oscap:
      profile: common
      outputdir: /root/scap/output
      contentdir: /root/scap/content

    # Configuration dictionary used by the `scc` driver.
    scc:
      version: '4.0.1'
      outputdir: ''
      pkg:
        source: https://url/to/scc.rpm
      content:
        - source: https://url/to/scap-benchmark1.zip
          source_hash: https://url/to/scap-benchmark1.zip.HASH
        - source: https://url/to/scap-benchmark2.zip
          source_hash: https://url/to/scap-benchmark2.zip.HASH
