{# Set the scap dictionary #}

{%- set content = salt['grains.filter_by']({
    'base': {
        'source' : 'salt://scap/content/guides',
    },
    'Windows' : {
        'local_dir': 'C:\\SCAP\\Content'
    },
    'RedHat' : {
        'local_dir': '/root/scap/content'
    } },
    grain='os_family',
    merge=salt.pillar.get('scap:lookup:content', {}),
    base='base')
%}

{% set scap = {
    'content': content,
    'driver': salt.grains.get(
        'scap:driver',
        default = salt.pillar.get('scap:lookup:driver')),
    'output_dir': salt.grains.filter_by({
        'Windows' : 'C:\\SCAP\\Output',
        'RedHat' : '/root/scap/output',
        },
        grain='os_family',
        merge=salt.pillar.get('scap:lookup:output_dir'))
} %}
