{%- set osrel = salt.grains.get('osmajorrelease') %}

{%- set os = salt.grains.filter_by({
    'RedHat': 'rhel',
    'CentOS': 'centos'
}, grain='os') %}

{#- Initialize oscap dictionary with defaults and pillar data #}
{%- set oscap = salt.pillar.get(
    'scap:lookup:oscap',
    default = {
        'profile': 'common',
        'outputdir': '/root/scap/output',
        'contentdir': '/root/scap/content'
    },
    merge = True
) %}

{#- Update oscap dictionary with static values #}
{%- do oscap.update({
    'content_source': 'salt://scap/content',
    'cpe': oscap.contentdir ~ '/ssg/ssg-rhel' ~ osrel ~ '-cpe-dictionary.xml',
    'xccdf': oscap.contentdir ~ '/ssg/ssg-' ~ os ~ osrel ~ '-xccdf.xml',
    'report': oscap.outputdir ~ '/oscap-report.$(date "+%Y%m%d%H%M").html',
    'results': oscap.outputdir ~ '/oscap-results.$(date "+%Y%m%d%H%M").xml'
}) %}
